.nopadding{
    padding: 0 !important;
}
.product-card {
    text-decoration: none !important;
}
.product-card .product-card-image {
    background: rgb(240, 240, 240);
    border-radius: 0.25rem;
}

.product-card .product-card-image img {
    width: 100%;
    padding: 3px;
}

.product-card-body {
    margin: 5px
}
.product-card-title {
    font-size: 1.3rem;
    color: #54575a;
    font-family: 'Libre Baskerville', serif;
}

.product-card-price .price {
    color: #e77b73;
    margin-right: 4px;
    font-size: 1.2rem !important;
}
.price {
    display: inline-block;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: right;
}



